.timer .container{
	overflow:hidden;
}

.timer-container{
	min-height:300px;
	/***margin-top:50px; **/
}

.time-box1{
	width:75px;
	height:55px;
	display:table;
	border:1px solid #fff;
	margin:50px auto;
	margin-left:40px;
	color:white;

	-webkit-border-radius:6px;
	   -moz-border-radius:6px;
	    -ms-border-radius:6px;
	     -o-border-radius:6px;
	        border-radius:6px;
	
	-webkit-transform:rotate(45deg);
	   -moz-transform:rotate(45deg);
	    -ms-transform:rotate(45deg);
	     -o-transform:rotate(45deg);
	        transform:rotate(45deg);
}
.time-box{
	width:150px;
	height:150px;
	display:table;
	border:1px solid #fff;
	margin:50px auto;
	color:white;

	-webkit-border-radius:15px;
	   -moz-border-radius:15px;
	    -ms-border-radius:15px;
	     -o-border-radius:15px;
	        border-radius:15px;
	
	-webkit-transform:rotate(45deg);
	   -moz-transform:rotate(45deg);
	    -ms-transform:rotate(45deg);
	     -o-transform:rotate(45deg);
	        transform:rotate(45deg);
}
.time-box-inner{
	width:150px;
	height:150px;
	display:table;
	text-align:center;

	-webkit-transform:rotate(-45deg);
	   -moz-transform:rotate(-45deg);
	    -ms-transform:rotate(-45deg);
	     -o-transform:rotate(-45deg);
	        transform:rotate(-45deg);
}

.time-box-inner1{
	width:70px;
	height:55px;
	display:table;
	text-align:center;

	-webkit-transform:rotate(-45deg);
	   -moz-transform:rotate(-45deg);
	    -ms-transform:rotate(-45deg);
	     -o-transform:rotate(-45deg);
	        transform:rotate(-45deg);
}
.time-number{
	font-size:65px;
	width:100%;
	display:inline-block;
	font-weight:300;
	padding-top: 15%;
	
	
	-webkit-transition:all .25s;
	   -moz-transition:all .25s;
	    -ms-transition:all .25s;
	     -o-transition:all .25s;
	        transition:all .25s;
}

.time-number1{
	font-size:45px;
	width:100%;
	display:inline-block;
	font-weight:300;
	padding-top: 15%;
	
	
	-webkit-transition:all .25s;
	   -moz-transition:all .25s;
	    -ms-transition:all .25s;
	     -o-transition:all .25s;
	        transition:all .25s;
}
.time-number .digit{
	line-height: 60px;
	display: inline-block;	
	overflow: hidden;
}

.time-number1 .digit1{
	line-height: 40px;
	display: inline-block;	
	overflow: hidden;
}

.time-name{
	color:#f1c40f;
	font-size:15px;
	text-transform:uppercase;
	font-weight:700;
}

.time-name1{
	color:#f1c40f;
	font-size:12px;
	text-transform:uppercase;
	font-weight:700;
}
.time-until{
	text-align:center;
	margin:0;
}
.time-until span{
	color: #fff;
	font-size:18px;
	line-height:40px;
	display:inline-block;
	background-color:#3498db;
	text-transform:uppercase;
	padding:0px 25px;
}
@media screen and (max-width: 992px){
	.timer .container{
		width:100%;
		max-width:830px;
	}
}
@media (min-width: 992px){
	.timer .container{
		width:100%;
		
	}
}

@media (min-width: 1170px){
	.timer .container{
		width:830px;
	}
}
